<div class="col-6">
	<% @tweets.each do |tweet| %>
		<div class="tweet">
			<%= tweet.user.first_name %>
			<%= tweet.user.last_name %>
			<%= tweet.user.handle %>
			<%= tweet.created_at %>
			<p><%= tweet.body %></p>
		</div>
	<% end %>
</div>