<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mental</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header>
      <div class="container topnav">
        <div class="row">
          <div class="col-6">
            <img src="/assets/logo.png">
          </div>
          <div class="col-6 menu-items">
            <% if user_signed_in? %>
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => '' %>
            <% else %>
              <a href="/users/sign_in">Sign In</a>
            <% end %>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">

        <%= yield %>

        <p>Current User Info</p>
        <%= debug current_user.email %>
      </div>
    </div>

  </body>
</html>